{
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "add-module-exports"
  ],
  "presets": [
    ["env", {
      "loose": true,
      "targets": [
        "last 2 versions",
        "ie 9"
      ]
    }],
    "stage-2"
  ]
}
