{
  "env": {
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    },
    "mjs": {
      "plugins": [
        [
          "./plugins/search-and-replace.js",
          {
            "micro-memoize/es/utils": "micro-memoize/mjs/utils",
            "micro-memoize": "micro-memoize/mjs",
            "fast-equals": "fast-equals/mjs",
            "fast-stringify": "fast-stringify/mjs"
          }
        ]
      ]
    },
    "test": {
      "plugins": ["@babel/plugin-proposal-class-properties"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@babel/preset-react"
      ]
    }
  },
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ]
}
