{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "es": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "lib": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types",
        [
          "./plugins/search-and-replace.js",
          {
            "micro-memoize/es/utils": "micro-memoize/lib/utils"
          }
        ]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ]
      ]
    },
    "mjs": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types",
        [
          "./plugins/search-and-replace.js",
          {
            "micro-memoize/es/utils": "micro-memoize/mjs/utils.mjs",
            "micro-memoize": "micro-memoize/mjs/index.mjs",
            "fast-equals": "fast-equals/mjs/index.mjs",
            "fast-stringify": "fast-stringify/mjs/index.mjs"
          }
        ]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types",
        [
          "./plugins/search-and-replace.js",
          {
            "micro-memoize/es/utils": "micro-memoize/lib/utils"
          }
        ]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@babel/preset-react"
      ]
    }
  }
}
