{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "globals": {
    "__dirname": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true,
    "TimeoutID": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": [2, {
      "ignoreRestSiblings": true
    }],
    "prefer-spread": 0
  }
}
